.borderleft {
  border-left: 2px solid #1f5297;
  padding-left: 10px;
}

.circle {
  width: 13px;
  position: absolute;
  height: 13px;
  background-color: aliceblue;
  border-radius: 50%;
  border: 2px solid #1f5297;
  left: -17px;
  top: 0px;
}

.bgcol {
  color: #1f5297;
}
